/******Шрифты******/
@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans Light'), local('OpenSans-Light'),
      url('../fonts/opensanslight.woff2') format('woff2'),
      url('../fonts/opensanslight.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans'), local('OpenSans'),
      url('../fonts/opensans.woff2') format('woff2'),
      url('../fonts/opensans.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: local('Gilroy-Light'),
      url('../fonts/gilroylight.woff2') format('woff2'),
      url('../fonts/gilroylight.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: local('Gilroy-ExtraBold'),
      url('../fonts/gilroyextrabold.woff2') format('woff2'),
      url('../fonts/gilroyextrabold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}
/******Шрифты закончились******/



body{
  margin: 0;
  padding: 0;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 0.01em;
  color: #000000;
  background-color: #ffffff;
}

a{
  text-decoration: none;
}

img{
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper{
  width: 1160px;
  padding: 0 20px;
  margin: 0 auto;
}

.head_container{
  padding-top: 23px;
  padding-right: 60px;
  padding-bottom: 53px;
  background: linear-gradient(to bottom, #ffffff 40px, #f7e296 40px);
}

.catalog_body .head_container{
  padding-bottom: 50px;
}

.logo_container{
  width: 163px;
  margin-bottom: 15px;
  padding-left: 60px;
}

.logo{
  display: flex;
}

.user_actions{
  padding-left: 60px;
  margin-bottom: 29px;
}

.user_actions_list{
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", Arial,sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  list-style: none;
}

.user_actions_list a,
.main_nav_list a{
  color: #000000;
}

.search_form{
  display: flex;
  margin-right: 90px;
}

.search_form input{
  box-sizing: border-box;
  width: 355px;
  padding-left: 38px;
  padding-top: 5px;
  outline: none;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid transparent;
}

.search_form label{
  position: relative;
}

.search_form label::before{
  content: "";
  display: block;
  position: absolute;
  top: 18px;
  left:2px;
  width: 16px;
  height: 16px;
  background-image: url("../img/icon_search.svg");
}

.search_form input::placeholder{
  color: rgba(0, 0, 0, 0.3);
}

.search_btn{
  border: 2px solid black;
  padding: 8px 20px;
  visibility: hidden;
  font-family: "Open Sans", Arial,sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  background-color: transparent;
  color: #000000;
}

.login_item{
  flex-grow: 1;
}

.enter_btn,
.name_surname{
  position: relative;
  padding-left: 35px;
}

.name_surname{
  margin-right: 14px;
}

.user_actions .enter_btn::before,
.user_actions .name_surname::before{
  content: "";
  position: absolute;
  top: 4px;
  left: 8px;
  width: 13px;
  height: 12px;
  background-image: url("../img/icon_user.svg");
}

.user_actions .compare_btn{
  position: relative;
  padding-left: 20px;
  margin-right: 40px;
}

.user_actions .compare_btn::before{
  content: "";
  position: absolute;
  top: 6px;
  left: 0;
  width: 10px;
  height: 10px;
  background-image: url("../img/icon_compare.svg");
}

.basket_btn{
  position: relative;
  padding-left: 22px;
}

.user_actions .basket_btn::before{
  content: "";
  position: absolute;
  top: 4px;
  left: 0;
  width: 12px;
  height: 12px;
  background-image: url("../img/icon_cart.svg");
}

.main_nav{
  position: relative;
  padding-left: 60px;
}

.main_nav_list{
  display: flex;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  list-style: none;
}

.catalog_btn,
.deliver_btn,
.guarantee_btn,
.contacts_btn{
  letter-spacing: 0.2em;
}

.main_nav_item:first-child{
  flex-grow: 1;
}

.main_nav .catalog_btn{
  position: relative;
  padding-right: 35px;
}

.main_nav .catalog_btn::after{
  content: "";
  position: absolute;
  top:3px;
  right: 7px;
  width: 16px;
  height: 16px;
  background-image: url("../img/icon_plus.svg");
  opacity: 0.3;
}

.main_nav .deliver_btn{
  margin-right: 34px;
}

.main_nav .guarantee_btn{
  margin-right: 110px;
}

.contacts_btn{
  margin-right: -5px;
}

.sub_catalog_list{
  display: flex;
  align-items: flex-start;
  width: 100%;
  padding: 0;
  padding-top: 18px;
  padding-bottom: 40px;
  padding-left: 60px;
  position: absolute;
  left: 0;
  background-color: #f7e296;
  font-family: "Open Sans", Arial,sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 36px;
  text-transform: none;
  list-style: none;
  visibility: hidden;
  z-index: 11;
}

.sub_catalog_list .sub_catalog_list_column{
  margin: 0;
  padding: 0;
  margin-right: 57px;
  list-style: none;
}

.sub_catalog_list .sub_catalog_list_column:nth-child(2){
  margin-right: 70px;
}

.logo:hover img,
.logo:focus img,
.user_actions_list a:hover,
.user_actions_list a:focus{
  opacity: 0.6;
}

.logo:active img,
.user_actions_list a:active{
  opacity: 0.3;
}

.catalog_btn:hover ~ .sub_catalog_list,
.sub_catalog_list:hover{
  visibility: visible;
}

.main_nav_list a:hover,
.main_nav_list a:focus{
  color: rgba(0, 0, 0, 0.6);
}

.main_nav_list a:active{
  color: rgba(0, 0, 0, 0.3);
}

.search_form input:hover::placeholder{
  color: rgba(0, 0, 0, 0.6);
}

.search_form input:focus{
  border-bottom: 2px solid black;
}

.search_form input:focus ~ .search_btn{
  visibility: visible;
}

.search_btn:hover,
.search_btn:focus{
  color: #ffffff;
  background-color: #000000;
  visibility: visible;
}

.search_btn:active{
  color: rgba(255, 255, 255, 0.3);
}

.slider{
  position: relative;
  padding: 0 60px;
  margin-bottom: 100px;
  background: linear-gradient(to bottom, #f7e296 110px, #ffffff 110px);
  
}

.slider_list{
  position: relative;
  margin: 0;
  padding: 0;
  padding-left: 30px;
  list-style: none;
}

.slide{
  display: none;
}

.slider_controls{
  position: absolute;
  top: 326px;
  right: 60px;
  z-index: 20;
  font-size: 0;
}

.slider_controls label{
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 21px;
  vertical-align: top;
  cursor: pointer;
  background-image: url("../img/slider-button-empty.svg")
}

#product_1:checked ~ .wrapper #slide1,
#product_2:checked ~ .wrapper #slide2,
#product_3:checked ~ .wrapper #slide3 {
  display: flex;
}

#product_1:checked ~ .wrapper label[for="product_1"],
#product_2:checked ~ .wrapper label[for="product_2"],
#product_3:checked ~ .wrapper label[for="product_3"] {
  background-image: url("../img/slider-button.svg")
}

.slider_item{
  position: relative;
  justify-content: space-between;
}

.slide_number{
  position: absolute;
  top: -14px;
  right: -12px;
  font-size: 180px;
  line-height: 180px;
  color: #ffffff;
  z-index: 1;
}

.slider_item .img_container{
  width: 50%;
}

.slider_item_drone .img_container{
  margin-top: 80px;
  margin-left: -50px;
}

.slider_item_info{
  position: relative;
  width: 50%;
}

.slider_item_info::before{
  content: "";
  position: absolute;
  top: 35px;
  left: 5px;
  width: 100px;
  height: 7px;
  background-color: #ffffff;
}

.slider_item_header{
  position: relative;
  margin: 0;
  margin-top: 79px;
  margin-bottom: 18px;
  padding: 0;
  padding-left: 5px;
  /* padding-right: 106px; */
  font-size: 47px;
  line-height: 56px;
  z-index: 10;
}

.slider_item_drone .slider_item_header{
  padding-right: 0;
}

.slider_item_description{
  margin: 0;
  margin-bottom: 41px;
  padding: 0;
  padding-left: 5px;
  padding-right: 5px;
  font-family: "Open Sans", Arial,sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  color: #464646;
}

.btn{
  display: inline-block;
  padding: 10px 44px;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
  background: linear-gradient(to bottom, transparent 18px, #f0c52e 18px, #f0c52e 26px, transparent 26px);
  letter-spacing: 0.2em;
}

.slider_item_info .btn_container{
  margin-bottom: 47px;
  padding-left: 5px;;
}

.slider_item_property{
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin-left: 5px;
}

.slider_item_property td{
  white-space: nowrap;
  padding-right: 76px;
}

.slider_item_property td:last-child{
  width: 100%;
}

.slider_item_property tr:first-child{
  font-family: "Gilroy", Arial,sans-serif;
  font-size: 36px;
  line-height: 48px;
  font-weight: 300;
}

.slider_item_property tr:last-child{
  font-family: "Open Sans", Arial,sans-serif;
  font-size: 13px;
  line-height: 20px;
  font-weight: 300;
}

.table_second_row td{
  padding-top: 5px;
}
.btn:hover{
  padding-top: 10px;
  padding-bottom: 10px;
  background: #f0c52e;
}

.btn:active{
  color: rgba(0, 0, 0, 0.3);
}

.popular_items{
  margin-bottom: 61px;
}

.popular_items_list{
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.popular_item{
  width: 160px;
  margin-right: 40px;
  margin-bottom: 20px;
}

.popular_item:nth-child(6n){
  margin-right: 0;
}

.popular_item_link{
  width: 100%;
  color: #000000;
}

.popular_item_name{
  margin: 0;
  padding: 0;
  margin-top: 32px;
}

.popular_item_name.vr{
  letter-spacing: 0.02em;
}

.popular_items_list .img_container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  -ms-flex-pack: center; /*для ie*/
  min-height: 160px;
  height: 160px; /*для ie*/
  background-color: #f7e296;
}

.monopod .img_container{
  align-items: flex-end;
}

.monopod .popular_item_name{
  padding-right: 35px;
}

.popular_item_link:hover .img_container,
.popular_item_link:focus .img_container{
  background-color: #f0c52e;
}

.popular_item_link:active p{
  color: rgba(0, 0, 0, 0.3);
}

.popular_item_link:active img{
  opacity: 0.3;
}

.store_services{
  min-height: 388px;
  margin-bottom: 94px;
  background: linear-gradient(to bottom, #ffffff 100px, #e5e5e5 100px);
}

.services_container{
  display: flex;
}

.services_list{
  position: relative;
  width: 283px;
  margin: 0;
  padding: 0;
  padding-top: 78px;
  padding-bottom: 70px;
  list-style: none;
  border-right: 7px solid black;
  flex-shrink: 0;
  box-sizing: border-box;
}

.service_info_list{
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
  padding-left: 119px;
  padding-top: 74px;
  flex-grow: 1;
}

.services_list_item{
  width: 160px;
}

.services_list_item a{
  padding-left: 0;
  padding-right: 0;
  min-width: 160px;
  
}

.services_list li:not(:last-child){
  margin-bottom: 20px;
}

.service_info{
  position: relative;
}

.service_info_text{
  width: 460px;
}

.service_info_text>.section_header{
  margin: 0;
  margin-bottom: 30px;
}

.service_info_text>.section_description{
  padding-right: 20px;
  letter-spacing: 0.014em;
}

.delivery_service::after{
  content: "";
  position: absolute;
  top: 12px;
  right: 65px;
  width: 136px;
  height: 164px;
  background-image: url("../img/service_delivery.svg");
}

.guarantee_service::after{
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 171px;
  height: 195px;
  background-image: url("../img/service_warranty.svg");
}

.credit_service::after{
  content: "";
  position: absolute;
  top: -10px;
  right: 0;
  width: 156px;
  height: 188px;
  background-image: url("../img/service_credit.svg");
}

.services_list_item:first-of-type .btn:active{
  background: #000000;
}

.services_list a:active{
  padding-right: 117px;
  color: #f7e184;
  background-color: #000000;
}

.brands{
  margin-bottom: 82px;
}

.brands_list{
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: flex-start;
  width: calc(100% + 40px);
  margin: 0 -20px;
  padding: 0;
  list-style: none;
}

.brand_item{
  display: flex;
  width: calc(25% - 40px);
  margin: 0 20px;
}

.brand_item_link{
  position: relative;
}

.brand_item_link:hover::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.brand_dji_link:hover::before{
  background-image: url("../img/brands_dji_colored.jpg");
}

.brand_spg_link:hover::before{
  background-image: url("../img/brands_gadgets_colored.jpg");
}

.brand_gopro_link:hover::before{
  background-image: url("../img/brands_gopro_colored.jpg");
}

.brand_vivo_link:hover::before{
  background-image: url("../img/brands_vive_colored.jpg");
}

.section_header{
  margin: 0;
  margin-top: 57px;
  margin-bottom: 44px;
  padding: 0;
  font-size: 47px;
  line-height: 48px;
}

.section_description{
  margin: 0;
  padding: 0;
  font-family: "Open Sans", Arial,sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  letter-spacing: 0;
}

.store_info_container{
  display: flex;
  margin-bottom: 78px;
}

.about_us{
  position: relative;
  width: 50%;
  padding-right: 125px;
}

.about_us::before,
.contacts::before{
  content: "";
  position: absolute;
  top: 5px;
  left: 0;
  width: 80px;
  height: 7px;
  background-color: #000000;
}

.about_us .section_description{
  margin-bottom: 30px;
}

.about_us_btn{
  padding:10px 21px;
}

.delivery_companies_list{
  margin: 0;
  margin-top: 65px;
  margin-bottom: 52px;
  padding: 0;
  font-size: 16px;
  line-height: 40px;
  list-style: none;
}

.delivery_companies_list li{
  position: relative;
  padding-left: 35px;
}

.delivery_companies_list li::before{
  content: "";
  position: absolute;
  top: 16px;
  left: 0;
  width: 4px;
  height: 4px;
  border: 2px solid #e6e6e6;
  border-radius: 50%;
}

.contacts{
  position: relative;
  width: 50%;
}

.contacts .section_description{
  margin-bottom: 37px;
}

.map_container{
  width: 560px;
  height: 222px;
  margin-bottom: 70px;
  cursor: pointer;
}

.write_us_btn{
  padding: 10px 40px;
}

.footer{
  background-color: #464646;
  color:#ffffff
}

.footer_rows_container{
  width: 100%;
  padding: 65px 0;
}

.top_row,
.middle_row,
.bottom_row{
  display: flex;
  align-items: center;
}

.top_row{
  margin-bottom: 30px;
}

.middle_row{
  margin-bottom: 64px;
}

.bottom_row{
  position: relative;
}

.bottom_row::before{
  content: "";
  position: absolute;
  top: 13px;
  left: 0;
  width: 80px;
  height: 7px;
  background-color: #ffc600;
}

.top_row .logo_container{
  margin: 0;
  padding: 0;
}

.footer .address{
  margin: 0;
  margin-right: 165px;
  padding: 0;
  font-family: "Open Sans", Arial,sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  letter-spacing: 0;
}

.footer_nav{
  display: flex;
  width: 427px;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  align-self: flex-end;
  list-style: none;
  text-transform: uppercase;
}

.footer_nav a{
  margin: 0;
  color: #ffffff;
}

.social{
  margin-left: 509px;
}

.social_list{
  display: flex;
  justify-content: space-between;
  width: 140px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.social_btn{
  display: inline-block;
  position: relative;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #7e7e7e;
  opacity: 0.3;
}

.social_btn::before{
  content: "";
  position: absolute;
  width: 32px;
  height: 32px;
  left: 0;
  top: 0;
}

.social_btn.fb::before{
  background-image: url("../img/social_fb.svg");
}

.social_btn.instagram::before{
  background-image: url("../img/social_instagram.svg");
}

.social_btn.twitter::before{
  background-image: url("../img/social_twitter.svg");
}

.footer_user_actions{
  margin-left: auto;
  margin-top: -9px;
}

.footer_user_actions .user_actions_list{
  justify-content: space-between;
  margin-bottom: 0;
}

.footer_user_actions .enter_btn::before,
.footer_user_actions .name_surname::before{
  content: "";
  position: absolute;
  top: 4px;
  left: 9px;
  width: 13px;
  height: 12px;
  background-image: url("../img/icon_user_footer.svg");
}

.footer_user_actions .compare_btn{
  padding-left: 22px;
}

.footer_user_actions .compare_btn::before{
  content: "";
  position: absolute;
  top: 6px;
  left: 2px;
  width: 10px;
  height: 10px;
  background-image: url("../img/icon_compare_footer.svg");
}

.footer_user_actions .basket_btn::before{
  content: "";
  position: absolute;
  top: 4px;
  left: 0;
  width: 12px;
  height: 12px;
  background-image: url("../img/icon_cart_footer.svg");
}

.footer_user_actions li{
  margin-right: 40px;
}

.footer_user_actions li:last-child{
  margin-right: 0;
}

.footer_user_actions a{
  position: relative;
  color: rgba(255, 255, 255, 0.7);
}

.footer .telephone{
  margin: 0;
  margin-left: auto;
  padding: 0;
  font-family: "Open Sans", Arial,sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  letter-spacing: 0;
}

.footer_nav a:hover,
.footer_nav a:focus{
  color: rgba(255, 255, 255, 0.6);
}

.footer_nav a:active{
  color: rgba(255, 255, 255, 0.3);
}

.social_list a:hover,
.social_list a:focus{
  opacity: 0.6;
}

.social_list a:active{
  opacity: 0.1;
}

.html_academy_logo_link{
  margin-left: auto;
}

.html_academy_logo_link:hover,
.html_academy_logo_link:focus{
  opacity: 0.6;
}

.html_academy_logo_link:active{
  opacity: 0.3;
}

button.btn{
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  border: 0;
}

.modal{
  display: none;
  position: fixed;
  top: 10px;
  left: 50%;
  width: 960px;
  margin-left: -480px;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
}

.popup_write_us{
  padding-top: 95px;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 85px;
  background-color: #ffffff;
}

.write_us_form{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.write_us_item{
  display: flex;
  flex-direction: column;
}

.write_us_name,
.write_us_mail{
  width: 360px;
  margin-bottom: 35px;
}

.write_us_text{
  width: 100%;
}

.popup_write_us input,
.popup_write_us textarea{
  padding: 13px 20px;
  margin-top: 10px;
  background-color: #f2f2f2;
  border: none;
  box-sizing: border-box;
  outline: none;
}

.popup_write_us textarea{
  margin-bottom: 50px;
}

.popup_write_us input::placeholder,
.popup_write_us textarea::placeholder{
  color: rgba(70, 70, 70, 0.4)
}

.popup_write_us input:hover,
.popup_write_us textarea:hover{
  background-color: #eaeaea;
}

.popup_write_us input:focus,
.popup_write_us textarea:focus{
  background-color: #ffffff;
  border: 3px solid #f7e296;
}

.close_modal{
  position: absolute;
  top: 22px;
  right: 22px;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-image: url("../img/modal-close.svg");
  opacity: 0.5;
  border: 0;
  padding: 0;
}

.close_modal:hover,
.close_modal:focus{
  opacity: 1;
}

.close_modal:active{
  opacity: 0.3;
}

.popup_map{
  height: 559px;
}

.exit{
  opacity: 0.3;
}

.header .exit{
  color: #000000
}

.catalog_header{
  margin: 0;
  margin-top: 37px;
  margin-bottom: 25px;
  padding: 0;
  padding-left: 60px;
  font-size: 47px;
  line-height: 48px;
  letter-spacing: 0.01em;
}

.breadcrumbs{
  display: flex;
  margin: 0;
  margin-bottom: 45px;
  padding: 0;
  padding-left: 60px;
  list-style: none;
}

.breadcrumbs_item{
  margin-left: 17px;
  font-family: "Open Sans", Arial,sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs_item:first-of-type{
  margin-left: 0;
}

.breadcrumbs_item a{
  position: relative;
  padding-right: 20px;
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs_item a::after{
  content: "";
  position: absolute;
  top: 6px;
  right: 1px;
  width: 4px;
  height: 7px;
  background-image: url("../img/icon_nav-arrow.svg");
}

.breadcrumbs_item a:hover,
.breadcrumbs_item a:focus{
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs_item a:active{
  color: rgba(0, 0, 0, 0.1);
}

.sorting_filter_row{
  display: flex;
  min-height: 70px;
  background: linear-gradient(to right, #dbdbdb 50%, #ebebeb 50%);
}

.sorting_filter_container{
  display: flex;
  flex-direction: row;
  padding-left: 60px;
  height: 100%;
  box-sizing: border-box;
}

.filter_header{
  display: flex;
  align-items: center;
  width: 27.1%;
  background-color: #dbdbdb;
}

.filter_header h2{
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.sorting_container{
  display: flex;
  align-items: center;
  padding-left: 72px;
  flex-grow: 1;
  width: 76.9%;
  background-color: #ebebeb;
}

.sorting_container h2{
  margin: 0;
  margin-right: 56px;
  padding: 0;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.sorting_list{
  display: flex;
  flex-grow: 1;
  width: 300px;
  margin: 0;
  margin-top: -5px;
  padding: 0;
  list-style: none;
}

.sorting_list li{
  margin-right: 28px;
}

.sorting_list .active{
  color:rgba(0, 0, 0, 0.945);
}

.sorting_list a,
.sorting_arrows_container a{
  font-family: "Open Sans", Arial,sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.3);
}

.sorting_arrows_container{
  display: flex;
  justify-content: space-between;
  width: 40px; 
}

.sorting_arrows_container a{
  display: inline-block;
  width: 11px;
  height: 10px;
  opacity: 0.2;
}

.sorting_arrows_container .active{
  opacity: 1;
}

.up_arrow{
  background-image: url("../img/sort_icon_up_dir.svg");
}

.down_arrow{
  background-image: url("../img/sort_icon_down_dir.svg");
}

.sorting_list a:hover,
.sorting_list a:focus{
  color: rgba(0, 0, 0, 0.6);
}

.sorting_arrows_container a:hover,
.sorting_arrows_container a:focus{
  opacity: 0.4;
}

.sorting_list a:active{
  color: rgba(0, 0, 0, 1);
}

.sorting_arrows_container a:active{
  opacity: 1;
}

.filter_and_items{
  min-height: 370px;
  background: linear-gradient(to right, #eeeeee 50%, #ffffff 50%);
}

.filter_and_items_container{
  display: flex;
  flex-direction: row;
}

.filter_container{
  width: 27.1%;
  padding-left: 60px;
  padding-top: 69px;
  background-color: #eeeeee;
}

.filter_form{
  width: 200px;
}

.filter_item{
  margin: 0;
  padding: 0;
  padding-top: 10px;
  padding-bottom: 33px;
  border: none;
  border-top: 2px solid black;
}

.range_filter{
  width: 200px;
  margin-top: 35px;
}

.range_controls{
  position: relative;
  height: 20px;
}

.range_controls .scale{
  height: 2px;
  background: #d7dcde;
}

.range_controls .bar {
  width: 60%;
  height: 2px;
  background: #91c92f;
}

.range_controls .toggle {
  position: absolute;
  top: -10px;
  left: -5px;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.range_controls .toggle_max{
  left:108px;
}

.price_controls{
  display: flex;
  margin-top: -9px;
}

.filter_item ul{
  margin: 0;
  margin-top: 18px;
  padding: 0;
  list-style: none;
}

.filter_option{
  padding-left: 39px;
}

.filter_form label{
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
  font-family: "Open Sans", Arial,sans-serif;
  font-size: 14px;
  line-height: 40px;
  font-weight: 300;
}

.price_controls label{
  font-family: "Gilroy", Arial,sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.2);
}

.price_controls .min_price {
  margin-right: 63px;
}

.filter_input_checkbox + label::before {
  content: "";
  position: absolute;
  top: 8px;
  left: -40px;
  width: 23px;
  height: 23px;
  background-image: url("../img/form_checkbox-off.svg");
}

.filter_input_checkbox:checked + label::before {
  content: "";
  position: absolute;
  top: 8px;
  left: -40px;
  width: 23px;
  height: 23px;
  background-image: url("../img/form_checkbox-on.svg");
}

.filter_input_radio + label::before {
  content: "";
  position: absolute;
  top: 6px;
  left: -41px;
  width: 25px;
  height: 25px;
  background-image: url("../img/form_radio-off.svg");
}

.filter_input_radio:checked + label::before {
  content: "";
  position: absolute;
  top: 6px;
  left: -41px;
  width: 25px;
  height: 25px;
  background-image: url("../img/form_radio-on.svg");
}

.form_submit_btn{
  margin-top: -6px;
  padding: 10px 40px;
}

.catalog_items_container{
  width: 76.9%;
  padding-left: 74px;
  padding-top: 69px;
  background-color: #ffffff;
}

.catalog_items_list{
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog_item{
  width: 360px;
  margin-bottom: 46px;
}

.catalog_item:nth-child(odd){
  margin-right: 40px;
}

.catalog_item .img_container{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom:32px; 
}

.catalog_item_hover{
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  position: absolute;
}

.catalog_item_hover .btn{
  padding:10px 35px;
}
.catalog_name_and_price{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
}

.catalog_item:nth-child(even) .catalog_item_name{
  padding-right: 55px;
}

.catalog_item_name{
  box-sizing: border-box;
  color: #000000;
  letter-spacing: 0.014em;
}

.catalog_item_price,
.add_to_compare{
  font-family: "Open Sans", Arial,sans-serif;
  font-weight: 300;
}

.add_to_compare{
  font-size: 13px;
  line-height: 36px;
  color: rgba(0, 0, 0, 0.5);
}

.catalog_item_price{
  font-size: 16px;
  line-height: 24px;
  color: #464646;
  white-space: nowrap;
}

.catalog_item .img_container:hover img{
  opacity: 0.7;
}

.catalog_item .img_container:hover .catalog_item_hover{
  display: flex;
}

.add_to_compare:hover,
.add_to_compare:focus{
  color: rgba(0, 0, 0, 1);
}

.add_to_compare:active{
  color: rgba(0, 0, 0, 0.2);
}

.pagination_list{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 760px;
  min-height: 70px;
  margin: 0;
  margin-top: -10px;
  margin-bottom: 77px;
  padding: 0;
  list-style: none;
  background-color: #ebebeb;
}

.pagination_list a{
  font-size: 16px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.3);
}

.pagination_list .prev,
.pagination_list .next{
  display: inline-block;
  padding: 23px 30px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.pagination_item{
  margin-right: 30px;
}

.pagination_item.three{
  margin: 0;
  margin-right: -5px;
}

.pagination_item:first-child{
  margin-right: auto;
}

.pagination_item:last-child{
  margin-left: auto;
  margin-right: 0;
}

.pagination_list .prev,
.pagination_list .next,
.pagination_list .active{
  color: rgba(0, 0, 0, 1);
}

.pagination_list .page_number:hover,
.pagination_list .page_number:focus{
  color: rgba(0, 0, 0, 0.6);
}

.pagination_list .page_number:active{
  color: rgba(0, 0, 0, 1);
}

.pagination_list .prev:hover,
.pagination_list .prev:focus,
.pagination_list .next:hover,
.pagination_list .next:focus{
  background-color: #d9d9d9;
}

.pagination_list .prev:active,
.pagination_list .next:active{
  background-color: #d9d9d9;
  color: rgba(0, 0, 0, 0.3)
}

.footer_user_actions .exit{
  color: #ffffff;
  opacity: 0.3;
}

.showOn{
  display: block;
}