/******Шрифты******/
@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans Light'), local('OpenSans-Light'),
      url('../fonts/opensanslight.woff2') format('woff2'),
      url('../fonts/opensanslight.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans'), local('OpenSans'),
      url('../fonts/opensans.woff2') format('woff2'),
      url('../fonts/opensans.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: local('Gilroy-Light'),
      url('../fonts/gilroylight.woff2') format('woff2'),
      url('../fonts/gilroylight.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: local('Gilroy-ExtraBold'),
      url('../fonts/gilroyextrabold.woff2') format('woff2'),
      url('../fonts/gilroyextrabold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}
/******Шрифты закончились******/



body{
  margin: 0;
  padding: 0;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  color: #000000;
  background-color: #ffffff;
}

a{
  text-decoration: none;
}

.wrapper{
  max-width: 1160px;
  padding: 0 20px;
  margin: 0 auto;
}

.header .wrapper{
  background: linear-gradient(to bottom, #ffffff 40px, #f7e296 40px);
}

.head_container{
  display: flex;
  flex-direction: column;
  padding-top: 23px;
  padding-left: 60px;
  padding-right: 60px;
}

.logo_container{
  width: 163px;
  margin-bottom: 35px;
}

.logo{
  display: flex;
}

.user_actions_list{
  display: flex;
  margin: 0;
  margin-bottom: 54px;
  padding: 0;
  font-family: "Open Sans", Arial,sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  list-style: none;
}

.user_actions_list a,
.main_nav_list a{
  color: #000000;
}

.search_form input::placeholder{
  color: rgba(0, 0, 0, 0.3);
}

.search_btn{
  font-family: "Open Sans", Arial,sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  background-color: transparent;
  color: #000000;
}

.main_nav{
  margin-bottom: 53px;
}

.main_nav_list{
  display: flex;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  list-style: none;
}

.sub_catalog_list{
  display: flex;
  margin: 0;
  padding: 0;
  position: absolute;
  font-family: "Open Sans", Arial,sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 36px;
  text-transform: none;
  list-style: none;
}

.logo:hover img,
.logo:focus img,
.user_actions_list a:hover,
.user_actions_list a:focus{
  opacity: 0.6;
}

.logo:active img,
.user_actions_list a:active{
  opacity: 0.3;
}

.main_nav_list a:hover,
.main_nav_list a:focus{
  color: rgba(0, 0, 0, 0.6);
}

.main_nav_list a:active{
  color: rgba(0, 0, 0, 0.3);
}


.search_form input:hover::placeholder{
  color: rgba(0, 0, 0, 0.6);
}

.search_btn:hover,
.search_btn:focus{
  color: #ffffff;
  background-color: #000000;
}

.search_btn:active{
  color: rgba(255, 255, 255, 0.3);
}

.slider{
  padding: 0 60px;
  margin-bottom: 105px;
}

.slider_item{
  display: flex;
  justify-content: space-between;
}

.slider_item .img_container{
  width: 50%;
}

.slider_item_info{
  display: flex;
  flex-direction: column;
  width: 50%;
}

.slider_item_header{
  font-size: 47px;
  line-height: 56px;
}

.slider_item_description{
  font-family: "Open Sans", Arial,sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  color: #464646;
}

.btn{
  text-transform: uppercase;
  text-align: center;
  color: #000000;
  background-color: #f0c52e;
}

.slider_item_property tr:first-child{
  font-family: "Gilroy", Arial,sans-serif;
  font-size: 36px;
  line-height: 48px;
  font-weight: 300;
}

.slider_item_property tr:last-child{
  font-family: "Open Sans", Arial,sans-serif;
  font-size: 13px;
  line-height: 20px;
  font-weight: 300;
}

.btn:active{
  color: rgba(0, 0, 0, 0.3);
}

.popular_items{
  margin-bottom: 162px;
}

.popular_items_list{
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.popular_item{
  display: flex;
  width: 160px;
  margin-right: 40px;
  margin-bottom: 20px;
}

.popular_item:nth-child(6n){
  margin-right: 0;
}

.popular_item_link{
  width: 100%;
  color: #000000;
}

.popular_item_name{
  margin: 0;
  padding: 0;
  margin-top: 36px;
}

.popular_items_list .img_container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 160px;
  background-color: #f7e296;
}

.popular_item_link:hover .img_container,
.popular_item_link:focus .img_container{
  background-color: #f0c52e;
}

.popular_item_link:active p{
  color: rgba(0, 0, 0, 0.3);
}

.popular_item_link:active img{
  opacity: 0.3;
}

.store_services{
  min-height: 288px;
  margin-bottom: 94px;
  background-color: #e5e5e5;
}

.services_container{
  display: flex;
}

.services_list{
  margin: 0;
  margin-right: 240px;
  padding: 0;
  list-style: none;
}

.services_list li:not(:last-child){
  margin-bottom: 47px;
}

.service_info_text{
  width: 460px;
}

.section_header{
  margin: 0;
  padding: 0;
  font-size: 47px;
  line-height: 48px;
}

.section_description{
  margin: 0;
  padding: 0;
  font-family: "Open Sans", Arial,sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
}

.services_list a:active{
  color: #f7e184;
  background-color: #000000;
}

.brands{
  margin-bottom: 130px;
}

.brands_list{
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.brand_item{
  display: flex;
  width: 260px;
  margin-right: 40px;
  margin-bottom: 20px;
}

.brand_item:nth-child(4n){
  margin-right: 0;
}

.store_info_container{
  display: flex;
  margin-bottom: 91px;
}

.about_us{
  display: flex;
  flex-direction: column;
  width: 50%;
}

.contacts{
  display: flex;
  flex-direction: column;
  width: 50%;
}

.delivery_companies_list{
  font-size: 16px;
  line-height: 40px;
}

.footer{
  background-color: #464646;
  color:#ffffff
}

.footer_rows_container{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 65px 0;
}

.top_row,
.middle_row,
.bottom_row{
  display: flex;
  justify-content: space-between;
}

/* .left_column{
  width: 210px;
  margin-right: 160px;
} */

.footer .address{
  margin: 0;
  padding: 0;
  font-family: "Open Sans", Arial,sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
}

/* .middle_column{
  display: flex;
  flex-direction: column;
  width: 440px;
} */

.footer_nav{
  display: flex;
  margin: 0;
  /* margin-top: 75px; */
  margin-bottom: 67px;
  padding: 0;
  list-style: none;
}

.footer_nav a{
  color: #ffffff;
}

.social_list{
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.social_list a{
  color: #ffffff; /*временно*/
  background-color: #7e7e7e;
  opacity: 0.3;
}

/* .right_column{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
} */

.footer_user_actions{
  display: flex;
  flex-direction: column;
}

.footer_user_actions .user_actions_list{
  margin-bottom: 40px;
}

.footer_user_actions a{
  color: rgba(255, 255, 255, 0.7);
}

.footer .telephone{
  margin: 0;
  margin-bottom: 60px;
  padding: 0;
  font-family: "Open Sans", Arial,sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
}

.footer_nav a:hover,
.footer_nav a:focus{
  color: rgba(255, 255, 255, 0.6);
}

.footer_nav a:active{
  color: rgba(255, 255, 255, 0.3);
}

.social_list a:hover,
.social_list a:focus{
  opacity: 0.6;
}

.social_list a:active{
  opacity: 0.1;
}

.html_academy_logo_link:hover,
.html_academy_logo_link:focus{
  opacity: 0.6;
}

.html_academy_logo_link:active{
  opacity: 0.3;
}

button.btn{
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
}

.popup_write_us{
  width: 960px;
  margin: 0 auto;
  padding-top: 95px;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 90px;
}

.write_us_form{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.write_us_name,
.write_un_mail{
  width: 360px;
}

.write_us_text{
  width: 100%;
}

.popup_write_us input,
.popup_write_us textarea{
  background-color: #f2f2f2;
}

.popup_write_us input::placeholder,
.popup_write_us textarea::placeholder{
  color: rgba(70, 70, 70, 0.4)
}

.popup_write_us input:hover,
.popup_write_us textarea:hover{
  background-color: #eaeaea;
}

.popup_write_us input:focus,
.popup_write_us textarea:focus{
  background-color: #ffffff;
  border: 3px solid #f7e296;
}

.close_modal{
  position: absolute;
  background-color: #f0c52e;
  opacity: 0.5;
}

.close_modal:hover,
.close_modal:focus{
  opacity: 1;
}

.close_modal:active{
  opacity: 0.3;
}

.exit{
  opacity: 0.3;
}

.header .exit{
  color: #000000
}

.catalog_header{
  margin: 0;
  margin-top: 44px;
  margin-bottom: 33px;
  padding: 0;
  padding-left: 60px;
  font-size: 47px;
  line-height: 48px;
}

.breadcrumbs{
  display: flex;
  margin: 0;
  margin-bottom: 48px;
  padding: 0;
  padding-left: 60px;
  list-style: none;
}

.breadcrumbs_item{
  font-family: "Open Sans", Arial,sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs a{
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs a:hover,
.breadcrumbs a:focus{
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs a:active{
  color: rgba(0, 0, 0, 0.1);
}

.sorting_filter_row{
  min-height: 70px;
  background: linear-gradient(to right, #dbdbdb 31.6%, #ebebeb 31.6%);
}

.sorting_filter_container{
  display: flex;
  flex-direction: row;
  padding-left: 60px;
}

.fliter_header{
  width: 270px;
}

.fliter_header h2{
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
}

.sorting_container{
  display: flex;
  padding-left: 72px;
  flex-grow: 1;
}

.sorting_container h2{
  margin: 0;
  margin-right: 40px;
  padding: 0;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
}

.sorting_list{
  display: flex;
  flex-grow: 1;
  width: 300px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sorting_list a,
.sorting_arrows_container a{
  font-family: "Open Sans", Arial,sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.3);
}

.sorting_arrows_container{
  width: 60px; 
}

.sorting_list a:hover,
.sorting_list a:focus,
.sorting_arrows_container a:hover,
.sorting_arrows_container a:focus{
  color: rgba(0, 0, 0, 0.6);
}

.sorting_list a:active,
.sorting_arrows_container a:active{
  color: rgba(0, 0, 0, 1);
}

.filter_and_items{
  min-height: 370px;
  background: linear-gradient(to right, #eeeeee 31.6%, #ffffff 31.6%);
}

.filter_and_items_container{
  display: flex;
  flex-direction: row;
}

.filter_container{
  width: 270px;
  padding-left: 60px;
  padding-top: 69px;
}

.filter_form label{
  font-family: "Open Sans", Arial,sans-serif;
  font-size: 14px;
  line-height: 40px;
  font-weight: 300;
}

.catalog_items_container{
  width: 760px;
  padding-left: 70px;
  padding-top: 69px;
}


.catalog_items_list{
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog_item{
  display: flex;
  flex-direction: column;
  width: 360px;
  margin-bottom: 46px;
}

.catalog_item:nth-child(odd){
  margin-right: 40px;
}

.catalog_item_name{
  color: #000000;
}

.catalog_item_price,
.add_to_compare{
  font-family: "Open Sans", Arial,sans-serif;
  font-weight: 300;
}

.add_to_compare{
  font-size: 13px;
  line-height: 36px;
  color: rgba(0, 0, 0, 0.5);
}

.catalog_item_price{
  font-size: 16px;
  line-height: 24px;
  color: #464646;
}

.catalog_item .img_container:hover img{
  opacity: 0.7;
}

.add_to_compare:hover,
.add_to_compare:focus{
  color: rgba(0, 0, 0, 1);
}

.add_to_compare:active{
  color: rgba(0, 0, 0, 0.2);
}

.pagination_list{
  display: flex;
  width: 760px;
  margin: 0;
  margin-bottom: 77px;
  padding: 0;
  list-style: none;
  background-color: #ebebeb;
}

.pagination_list a{
  font-size: 16px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.3);
}

.pagination_list .prev,
.pagination_list .next,
.pagination_list .active{
  color: rgba(0, 0, 0, 1);
}

.pagination_list .page_number:hover,
.pagination_list .page_number:focus{
  color: rgba(0, 0, 0, 0.6);
}

.pagination_list .page_number:active{
  color: rgba(0, 0, 0, 1);
}

.pagination_list .prev:hover,
.pagination_list .prev:focus,
.pagination_list .next:hover,
.pagination_list .next:focus{
  background-color: #d9d9d9;
}

.pagination_list .prev:active,
.pagination_list .next:active{
  background-color: #d9d9d9;
  color: rgba(0, 0, 0, 0.3)
}

.footer_user_actions .exit{
  color: #ffffff;
  opacity: 0.3;
}

