body{
  margin: 0;
  padding: 0;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  color: #000000;
  background-color: #ffffff;
}

a{
  text-decoration: none;
}

.user_actions_list{
  font-family: "Open Sans", Arial,sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  list-style: none;
}

.user_actions_list a,
.main_nav_list a{
  color: #000000;
}

.search_form input::placeholder{
  color: rgba(0, 0, 0, 0.3);
}

.search_btn{
  font-family: "Open Sans", Arial,sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  background-color: transparent;
  color: #000000;
}

.main_nav_list{
  text-transform: uppercase;
  list-style: none;
}

.sub_catalog_list{
  font-family: "Open Sans", Arial,sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 36px;
  text-transform: none;
  list-style: none;
}

.logo:hover img,
.logo:focus img,
.user_actions_list a:hover,
.user_actions_list a:focus{
  opacity: 0.6;
}

.logo:active img,
.user_actions_list a:active{
  opacity: 0.3;
}

.main_nav_list a:hover,
.main_nav_list a:focus{
  color: rgba(0, 0, 0, 0.6);
}

.main_nav_list a:active{
  color: rgba(0, 0, 0, 0.3);
}


.search_form input:hover::placeholder{
  color: rgba(0, 0, 0, 0.6);
}

.search_btn:hover,
.search_btn:focus{
  color: #ffffff;
  background-color: #000000;
}

.search_btn:active{
  color: rgba(255, 255, 255, 0.3);
}

.slider_item_header{
  font-size: 47px;
  line-height: 56px;
}

.slider_item_description{
  font-family: "Open Sans", Arial,sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  color: #464646;
}

.btn{
  text-transform: uppercase;
  text-align: center;
  color: #000000;
  background-color: #f0c52e;
}

.slider_item_property tr:first-child{
  font-family: "Gilroy", Arial,sans-serif;
  font-size: 36px;
  line-height: 48px;
  font-weight: 300;
}

.slider_item_property tr:last-child{
  font-family: "Open Sans", Arial,sans-serif;
  font-size: 13px;
  line-height: 20px;
  font-weight: 300;
}

.btn:active{
  color: rgba(0, 0, 0, 0.3);
}

.popular_items_list{
  list-style: none;
}

.popular_item_link{
  color: #000000;
}

.popular_items_list .img_container{
  background-color: #f7e296;
}

.popular_item_link:hover .img_container,
.popular_item_link:focus .img_container{
  background-color: #f0c52e;
}

.popular_item_link:active p{
  color: rgba(0, 0, 0, 0.3);
}

.popular_item_link:active img{
  opacity: 0.3;
}

.store_services{
  background-color: #e5e5e5;
}

.services_list{
  list-style: none;
}

.section_header{
  font-size: 47px;
  line-height: 48px;
}

.section_description{
  font-family: "Open Sans", Arial,sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
}

.services_list a:active{
  color: #f7e184;
  background-color: #000000;
}

.brands_list{
  list-style: none;
}

.delivery_companies_list{
  font-size: 16px;
  line-height: 40px;
}

footer{
  background-color: #464646;
  color:#ffffff
}

footer .address,
footer .telephone{
  font-family: "Open Sans", Arial,sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
}

.footer_nav{
  list-style: none;
}

.footer_nav a{
  color: #ffffff;
}

.social_list{
  list-style: none;
}

.social_list a{
  color: #ffffff; /*временно*/
  background-color: #7e7e7e;
  opacity: 0.3;
}

.footer_user_actions a{
  color: rgba(255, 255, 255, 0.7);
}

.footer_nav a:hover,
.footer_nav a:focus{
  color: rgba(255, 255, 255, 0.6);
}

.footer_nav a:active{
  color: rgba(255, 255, 255, 0.3);
}

.social_list a:hover,
.social_list a:focus{
  opacity: 0.6;
}

.social_list a:active{
  opacity: 0.1;
}

.html_academy_logo_link:hover,
.html_academy_logo_link:focus{
  opacity: 0.6;
}

.html_academy_logo_link:active{
  opacity: 0.3;
}

button.btn{
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
}

.popup_write_us input,
.popup_write_us textarea{
  background-color: #f2f2f2;
}

.popup_write_us input::placeholder,
.popup_write_us textarea::placeholder{
  color: rgba(70, 70, 70, 0.4)
}

.popup_write_us input:hover,
.popup_write_us textarea:hover{
  background-color: #eaeaea;
}

.popup_write_us input:focus,
.popup_write_us textarea:focus{
  background-color: #ffffff;
  border: 3px solid #f7e296;
}

.close_modal{
  background-color: #f0c52e;
  opacity: 0.5;
}

.close_modal:hover,
.close_modal:focus{
  opacity: 1;
}

.close_modal:active{
  opacity: 0.3;
}

.exit{
  opacity: 0.3;
}

header .exit{
  color: #000000
}

.catalog_header{
  font-size: 47px;
  line-height: 48px;
}

.breadcrumbs{
  list-style: none;
}

.breadcrumbs_item{
  font-family: "Open Sans", Arial,sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs a{
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs a:hover,
.breadcrumbs a:focus{
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs a:active{
  color: rgba(0, 0, 0, 0.1);
}

.filter_container h2,
.sorting_container h2{
  font-size: 16px;
  line-height: 24px;
}

.filter_form label{
  font-family: "Open Sans", Arial,sans-serif;
  font-size: 14px;
  line-height: 40px;
  font-weight: 300;
}

.sorting_list{
  list-style: none;
}

.sorting_list a,
.sorting_arrows_container a{
  font-family: "Open Sans", Arial,sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.3);
}

.sorting_list a:hover,
.sorting_list a:focus,
.sorting_arrows_container a:hover,
.sorting_arrows_container a:focus{
  color: rgba(0, 0, 0, 0.6);
}

.sorting_list a:active,
.sorting_arrows_container a:active{
  color: rgba(0, 0, 0, 1);
}

.catalog_items_list{
  list-style: none;
}

.catalog_item_name{
  color: #000000;
}

.catalog_item_price,
.add_to_compare{
  font-family: "Open Sans", Arial,sans-serif;
  font-weight: 300;
}

.add_to_compare{
  font-size: 13px;
  line-height: 36px;
  color: rgba(0, 0, 0, 0.5);
}

.catalog_item_price{
  font-size: 16px;
  line-height: 24px;
  color: #464646;
}

.catalog_item .img_container:hover img{
  opacity: 0.7;
}

.add_to_compare:hover,
.add_to_compare:focus{
  color: rgba(0, 0, 0, 1);
}

.add_to_compare:active{
  color: rgba(0, 0, 0, 0.2);
}

.pagination_list{
  list-style: none;
  background-color: #ebebeb;
}

.pagination_list a{
  font-size: 16px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.3);
}

.pagination_list .prev,
.pagination_list .next,
.pagination_list .active{
  color: rgba(0, 0, 0, 1);
}

.pagination_list .page_number:hover,
.pagination_list .page_number:focus{
  color: rgba(0, 0, 0, 0.6);
}

.pagination_list .page_number:active{
  color: rgba(0, 0, 0, 1);
}

.pagination_list .prev:hover,
.pagination_list .prev:focus,
.pagination_list .next:hover,
.pagination_list .next:focus{
  background-color: #d9d9d9;
}

.pagination_list .prev:active,
.pagination_list .next:active{
  background-color: #d9d9d9;
  color: rgba(0, 0, 0, 0.3)
}

.footer_user_actions .exit{
  color: #ffffff;
  opacity: 0.3;
}